// Core variables and mixins
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/type";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/grid";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/labels";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/panels";
//@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

body {
  background: url(../img/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1.5em;
  line-height: 1.2;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;

  a {
    color: #333;

    &:hover {
      color: #666;
    }
  }
}

a {
  color: darkorange;

  &:hover {
    color: darken(darkorange,10%);
  }
}

p {
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 50px;
  font-size: 90%;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);

  p {
    margin: 0;
    padding: 20px 0;
    font-size: 90%;

    a {
      color: #333;
      &:hover {
        color: #666;
      }
    }
  }
}

.home-right {
  .list-group-item {
    background-color: rgba(255,255,255,0.5);

    &:hover,
    &:focus {
      background-color: rgba(255,255,255,0.7);
    }


    .meta-date {
      display: block;
      font-size: 80%;
      font-style: italic;
    }
  }
}

.listing-container {
  h2 {
    font-size: 120%;
    a {
      @include text-overflow();
      width: 100%;
      display: inline-block;
    }
  }

  .intro {
    height: 75px;
    overflow: hidden;
  }
}

.board-members {
  .board-member {
    img {
      width: 250px;
      height: 200px;
    }

    h3 {
      font-size: 1.1em;
    }

    h4 {
      font-size: 0.9em;
      line-height: 1em;
      height: 1em;
      color: #999999;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.photo-albums,
.videos {
  .photo-album,
  .video {
    img {
      width: 160px;
      height: 160px;
      margin: 0.5em auto auto;
    }

    h3 {
      font-size: 1.1em;
      line-height: 1.2em;
      height: 2.4em;
      overflow: hidden;
    }

    p {
      color: #999999;
      line-height: 1.2em;
      height: 4.8em;
      overflow: hidden;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.videos {
  .video {
    img {
      width: 160px;
      height: 90px;
    }
  }
}

.photos {
  .photo {
    img {
      width: 144px;
      height: 144px;
      margin: 0 auto 2em;
    }
  }
}

.video-player {
  text-align: center;
  
  iframe {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .brand {
    display: inherit;
    font-weight: 700;
    font-size: 5em;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    color: #fff;
    
    img {
      width: 750px;
    }
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  .navbar-default {
    background: #fff;
    background: rgba(255,255,255,0.9);
    border: none;
  }

  .nav>li>a {
    padding: 5px 10px;
  }

  .navbar-nav>li>a {
    line-height: normal;
  }

  .navbar-nav {
    float: none;
    margin: 10px auto;
    display: table;
    table-layout: fixed;
    font-size: 0.9em;
  }

}

@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }

  .brand {
    img {
      width: auto;
    }
  }

  .navbar-nav {
    font-size: 1.25em;
    letter-spacing: 3px;
  }
}