# Set the default handler.
DirectoryIndex index.php index.html index.htm

<FilesMatch "\.(yml|db)$">
    Order deny,allow
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{HTTP_HOST} !^$
  RewriteCond %{HTTP_HOST} !.dev$
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Some servers require the RewriteBase to be set. If so, set to the correct folder.
  # RewriteBase /
  #RewriteRule ^thumbs/(.*)?$ ./timthumb.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ ./index.php [L]

</IfModule>

